.container {
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 2rem 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.scrollDown {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.environement {
  display: flex;
  align-items: center;
  gap: 1rem;
}
